.odd {
  background-color: #FFB6C1;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.big {
  font-size: 24px;
}

#two {
  color: #0000FF;
  font-size: 36px;
}

#four {
  background-color: #90EE90;
  font-weight: bold;
}
