body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  color: white;
  background: darkmagenta;
}

main {
  flex: 1;
  display: flex;
}

nav {
  padding: 16px;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

ul {
  padding: 0;
}

li {
  font-size: 24px;
  list-style-type: none;
  padding-bottom: 32px;
}

a {
  color: white;
  text-decoration: none;
}

section {
  padding: 48px;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.card {
  padding: 16px;
  flex-basis: 300px;
}

footer {
  text-align: center;
  padding: 24px;
  background: #eee;
  color: darkmagenta;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
