body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
}

.button {
  background-color: white;
  font-size: 20px;
}

.confirm {
  background-color: green;
  color: white;
  font-weight: bold;
}

.text {
  font-size: 22px;
  font-weight: 100;
}

.text .child {
  font-size: 14px;
  font-weight: 800;
}
