body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 52px;
}

li {
  flex-basis: 200px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}
